{% extends 'header.html' %}

{%load static%}
<!-- Stats Card -->
{% include 'stats.html' %}

{% block content%}


<div class="row">
    <div class="col-xl-12">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Add New Assignment</h5>
                </div>

                <form action = "" method ="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Name</label>
                            <input type="text" class="form-control" id="assignment_name" name="assignment_name" placeholder="Enter Assignment Name ">
                        </div>

                    <div class="form-group col-md-12">
                        <label for="inputAddress">Description</label>
                        <textarea type="text" class="form-control" id="assignment_description"  name="assignment_description"  placeholder=""></textarea>
                    </div>                 
                    <button type="submit" class="btn btn-primary">Create Assignment</button>
                </form>
            </div>
        </div>
    </div>
</div>

		
{% include 'footer.html' %}

{% endblock%}